{% extends "base.html" %} 
{% block title %}Создание короткой ссылки{%endblock %} 
{% block content %}
<main>
  <section class="container my-5 px-4">
    <h1 class="text-center"><span style="color:red">Ya</span>Cut</h1>
    <p class="text-center my-4">
      Создайте короткую ссылку автоматически или предложите свой вариант
    </p>

    <div class="container">
      <div class="row my-3">
        <div class="col-sm">
        </div>
        <div class="col-sm">
          <form method="POST" novalidate>
            {{ form.csrf_token }}
            {{ form.original_link(class="form-control form-control-lg py-2 mb-3", placeholder=form.original_link.label.text) }}
            <p>
              {% if form.original_link.errors %}
                {% for error in form.original_link.errors %}
                  <span style="color: red">{{ error }}</span>
                {% endfor %}
              {% endif %}
            </p>
            {{ form.custom_id(class="form-control form-control-lg py-2 mb-3", placeholder=form.custom_id.label.text, rows="3", cols="40")}}
            <p>
              {% if form.custom_id.errors %}
                {% for error in form.custom_id.errors %}
                  <span style="color: red">{{ error }}</span>
                {% endfor %}
              {% endif %}
            </p>
            {{ form.submit(class="btn btn-primary") }}
          </form>
        </div>
        <div class="col-sm">
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row ">
        <div class="col-sm">
        </div>
        <div class="col-sm">
          <p class="text-center">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  {% if category == "error" %}
                    <h5 class="text-center" style="color:red">{{ message }}</h5>
                  {% elif category == "link" %}
                    <p class="text-center">
                      <a href="{{ message }}">{{ message }}</a>
                    </p>
                  {% else %}
                    <h5 class="text-center">{{ message }}</h5>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endwith %}
          </p>
        </div>
        <div class="col-sm">
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}